@* Pages/ErrorDatabase.cshtml *@
@page
@model anahged.Pages.Error.DatabaseModel
@{
}

<h1>Erreur de connexion à la base de données</h1>
<p>Désolé, nous rencontrons actuellement des problèmes de connexion à notre base de données.</p>
<p>Veuillez réessayer dans quelques instants.</p>
