@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil - Anahged";
}

<div class="text-center">
    <h3 class="display-4">Consultez vos archives sur Anaged</h3>
    <h3 class="display-4">ADP, VPL et CARTES</h3>
    <span class="display-4">📚</span>
</div>
